:root {
  --gray: #f7f7f7;
  --blue: #5eabd6;
  --white: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-width: 375px;
  padding: 8px;
}

nav {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid var(--gray);
  color: var(--blue);
}

header,
section {
  padding: 4px;
  max-width: 768px;
  margin: 64px auto 0 auto;
}

header {
  margin-top: 16px;
}

h1 {
  text-align: center;
  font-size: 28px;
}

h4 {
  text-align: center;
  opacity: 70%;
  font-size: 12px;
}

a,
a:visited {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 12px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

th {
  text-align: left;
  padding: 8px;
  background-color: var(--blue);
  color: var(--white);
}

td {
  padding: 8px;
}

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

.picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256px;
  border-radius: 12px;
  background-color: var(--gray);
}

.mt-2 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 40px;
}

.opacity-70 {
  opacity: 70%;
}

footer {
  margin-top: 64px;
  padding: 32px 8px 64px 8px;
  background-color: var(--gray);
}

.ymp-container {
  background-color: white;
}

.option-container {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  width: 100%;
}

.option-container > li {
  background-color: var(--gray);
  cursor: pointer;
  height: 48px;
  width: 100%;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-container > li[aria-pressed="true"],
.option-container > li:hover {
  background-color: var(--blue);
  color: var(--white);
}

.shiki-wrapper {
  position: relative;
}

.shiki-wrapper pre {
  padding: 16px;
  border-radius: 12px;
  background-color: var(--gray) !important;
  overflow: auto;
}

.shiki-wrapper button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--blue);
  color: var(--white);
  padding: 8px;
  border: none;
  border-radius: 4px;
  border-top-right-radius: 12px;
  transition-duration: 150ms;
  width: 64px;
  height: 32px;
}

.shiki-wrapper button:hover {
  opacity: 70%;
}

.reference-wrapper {
  overflow: auto;
}

.link-container {
  margin-top: 8px;
  display: flex;
  list-style-type: none;
  gap: 8px;
}

@media (width >= 768px) {
  h1 {
    text-align: left;
    font-size: xx-large;
  }
  h4 {
    text-align: left;
    font-size: medium;
  }

  footer {
    margin-top: 128px;
  }
}
