.rymp-input {
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  width: 128px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid oklch(0.929 0.013 255.508);
  transition-duration: 150ms;
}

.rymp-button:hover {
  background-color: oklch(92.9% 0.013 255.508);
}

.rymp-container {
  box-sizing: border-box;
  position: absolute;
  border-radius: 8px;
  border: 1px solid oklch(0.929 0.013 255.508);
}

.rymp-header {
  box-sizing: border-box;
  padding: 8px 16px;
  border-bottom: 1px solid oklch(0.929 0.013 255.508);
}

.rymp-body-container {
  box-sizing: border-box;
  position: relative;
  height: 156px;
  width: 204px;
}

.rymp-body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 8px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rymp-button {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid oklch(0.929 0.013 255.508);
  background-color: oklch(96.826% 0.00696 248.26);
  transition-duration: 150ms;
}

.rymp-button[aria-selected="true"] {
  background-color: oklch(92.9% 0.013 255.508);
}

.rymp-button:hover {
  background-color: oklch(92.9% 0.013 255.508);
}

.rymp-open {
  scale: 100%;
  opacity: 100%;
  transition-duration: 500ms;
}

.rymp-close {
  scale: 120%;
  opacity: 0%;
  transition-duration: 500ms;
}

.rymp-init {
  scale: 0;
  opacity: 0;
  transition-duration: 500ms;
}
